body {
    background-color: #E6E9ED;
}

.btn-circle {
  width: 90px;
  height: 90px;
  text-align: center;
  padding: 6px 0;
  font-size: 60px;
  line-height: 1.5;
  border-radius: 45px;
}

.dbg-cell {
    border: solid red 1px;
}

.activity-item {
    padding-bottom: 10px;
}

.activity-btn {
    width: 100%;
    /* width: -moz-calc(100% - 40px); */
    /* width: -webkit-calc(100% - 40px); */
    /* width: calc(100% - 40px); */
 }

.activity-icons {
    float: left;
}

.activity-icon {
    font-size: 32px;
    width: 30px;
    height: 30px;
    line-height: 43px;
    margin: 0px 10px 0px 0px;
    text-align: right;
    float: left;
}

.activity-number-value {
    font-family: monospace;
}

.h3-label-feedback {
    top: 56px;
}

.addon-feedback-lg {
    top: 7px;
    right: 55px;
}

.fade {
    opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}